
<div>
	<h2>My Questions </h2>
	<% if @my_questions.any? %><br>
	<ul>
		<% @my_questions.each do |question| %>
			<li>
				<a href="/question/<%= question.id %>">
					<%= question.quest %>
				</a>
				<small>by <%= question.user.email %></small>
			</li><br>
		<% end %>
	</ul>
	<%end%>
</div>